/* institucional css */

.header {
    background-color: #B83232;
    padding-left: 1%;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    border-bottom:  #FAF3E8 solid 2px;
}

.header .container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding-left: 4%;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    
}

.navbar a {
    color: #FAF3E8;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    
}

.btn_enter a {
    background-color: #61A15B;
    width: 160%;
    padding-top: 9%;
    padding-left: 20%;
    padding-right: 10%;
    padding-bottom: 10%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 13%;
}

.section_hero {
    background-image: url('../public/hero banner.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 10%;
}

.text_hero {
    background-color: #FAF3E8;
    padding: 2%;
    padding-right: 9%;
    border-radius: 30px;
   
}

.text_hero p {
    font-size: 55px;
    font-weight: 500;
    color: #1A2B3C;
}

.text_red{
    color: #B83232;
}


.section_info {
    background-color: #FAF3E8; 
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 4%; 
    margin-top: -3%;
    z-index: 10;
}

.boxes_info {
    display: flex;
    justify-content: center;
    gap: 8%; 
}

.box_info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_info img {
    width: 90%;
    border-radius: 30px; 
    margin-bottom: 4%;
}

.box_info p {
    font-size: 40px;
    font-weight: bold;
    color: #1A2B3C;
    text-align: center;
}

.section_journey {
    background-color: #CBA67D; 
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11%;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%; 
    margin-top: -3%;
    z-index: 10;
    margin-bottom: 7%;
}

.text_journey h1 {
    font-size: 35px;
    font-weight: bold;
    color: #B83232;
    margin-bottom: 20px;
}   

.text_journey p {
    font-size: 29px;
    color: #2c2c2c;
    text-align: justify;
    font-weight: 400;
}


.section__feedbacks {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.titles {
    text-align: center;
}

.titles h2 {
    font-weight: 300;
}

.feedbacks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.box {
    width: 350px;
    height: 300px;
    background-color: #C8A87A;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 2rem 0.5rem;
    gap: 1rem;
}

.box q {
    align-self: flex-end;
    justify-self: flex-end;
    color: #B83232;
    width: 200px;
}

.bi-arrow-right-circle {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}


.section__calculator {
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0;
}


.section__calculator .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.calculator {
    background-color: #C8A87A;
    border-radius: 30px;
    padding: 4rem;
    height: 60rem;
}

.ask {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: justify;
    padding-bottom: 2rem;
    border-bottom: 1px solid #B83232;
}

.ask h2 {
    font-size: 2rem;
}

.ask p {
    text-align: justify;
}

.inputs__calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__input {
    width: 100%;
    padding: 1rem 10px;
    justify-content: space-between;
}

.container__input__global {
    height: 70px;
    background-color: #FAF3E8;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 1.2rem;
}

.container__input__2 {
    width: 50%;
}

.inputs_2 {
    display: flex;
    gap: 1rem;
}

.container__input__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0px;
}

.input_calculator {
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
    width: 250px;
    height: 40px;
    text-align: left;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.button_calcular {
    width: 200px;
    height: 70px;
    border-radius: 30px;
    border: none;
    background-color: #B83232;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin: 0 auto;
    cursor: pointer;
}

.message {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.message__best {
    color: #7A9B55;
}

.message__wrong {
    color: #B83232;
}

.left {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer {
    background-color: #B83232;
    height: 350px;
    color: #FFF;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    padding: 2rem;
    justify-content: center;
}

.center__text {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.icons img {
    width: 100px;
    cursor: pointer;
}


