/* === ESTILIZAÇÃO KPIs === */
.kpi-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem;
}

.kpi-card {
    position: relative;
    overflow: hidden;
    
    padding: 1rem 2rem;
    
    background-color: #EDE3D0;
    border: 1px solid #C8A87A;
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    
    box-shadow: 0 0.2rem 0.2rem #3D302040;
}

.kpi-card::after {
    content: "";
    background-color: #B83232;
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 0.5rem;
    height: 100%;
}

.kpi-card .kpi-header {
    color: #7A6A52;
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.kpi-card .kpi-footer {
    font-size: 0.8rem;
    font-weight: 600;
    color: #B5A98F;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* === ESTILIZAÇÃO MÉTRICAS === */
.metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: start;
    column-gap: 1rem;

    padding: 1rem;
}


/* === ESTILIZAÇÃO GRÁFICOS === */
.metrics .charts {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.metrics .charts .chart-card {
    position: relative;
    width: 100%;
    height: 100%;
    
    background-color: #EDE3D0;
    border: 1px solid #C8A87A;
    border-radius: 6px;

    box-shadow: 0 0.2rem 0.2rem #3D302040;
    padding: 1rem;
}

.chart-card .chart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.chart-card .chart-title {
    font-size: 1.5rem;
    color: #3D3020;
    margin: 0;
}

.chart-card .chart-title span { 
    font-weight: normal; 
    font-size: 1.1rem; 
}

.btn-group {
    background: #FAF3E8;
    border: 1px solid #C8A87A;
    border-radius: 8px;
    padding: 2px;
}

.btn-group button {
    border: none;
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    color: #B5A98F;
    font-weight: bold;
}

.btn-group button.active,
.btn-group button.active a {
    background: #7A9B55;
    color: #EAF0DC;
}

/* === ESTILIZAÇÃO ASIDE === */
.aside {
    background-color: #EDE3D0;
    border: 1px solid #C8A87A;
    border-radius: 6px;

    max-width: 23.5%;           /* aviso: mudar essa gambiarra dps */
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 1rem;

    box-shadow: 0 0.2rem 0.2rem #3D302040;
}

.aside h3 {
    color: #7A6A52;
}

.aside .alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.aside .alerts .alert-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1rem;
}

.aside .alerts .alert-list .alert {
    position: relative;
    overflow: hidden;

    background-color: #FAF3E8;
    border: 1px solid #C8A87A;
    border-radius: 6px;

    width: 100%;
    height: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.aside .alerts .alert-list .alert::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0.5rem;
    height: 100%;
}

.aside .alerts .alert-list .alert[data-alert-type="alert-serious"]::after {
    background-color: #B83232;
}
.aside .alerts .alert-list .alert[data-alert-type="alert-caution"]::after {
    background-color: #FEAC0D;
}
.aside .alerts .alert-list .alert[data-alert-type="alert-common"]::after {
    background-color: #7A9B55;
}

.alert .alert-content,
.alert .alert-footer {
    font-size: 12px;
    font-weight: 600;
    color: #7A6A52;
}

.alert .alert-footer {
    align-self: end;
    color: #B5A98F;
}

.aside .alert-list .view-alerts-btn {
    color: #7A6A52;
    background-color: #FAF3E8;
    border: 1px solid #C8A87A;
    border-radius: 6px;
    
    text-align: center;
    padding: 0.5rem;
}

.aside .status {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.aside .status .sensor-on {
    color: #7A9B55;
    background-color: #EAF0DC;
    border: 1px solid #7A9B55;
}

.aside .status .sensor-off {
    color: #B83232;
    background-color: #F0B8B8;
    border: 1px solid #B83232;
}

.aside .status .sensor-on,
.aside .status .sensor-off {
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.25rem 1rem;
}